.candidate-search-container {
  padding: 20px;
  width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
}

.search-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-results ul {
  list-style-type: none;
  padding: 0;
}

.search-results li {
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-results p {
  margin: 0;
}

.search-results p strong {
  font-weight: bold;
}

p.no-results {
  margin: 0;
  color: #888;
}
@media (max-width: 650px) {
  .candidate-search-container {
    width: 80%;
  }
}
